@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Inter";
        src: url(../../public/fonts/Inter.ttf) format("truetype");
    }

    /* Padding and Spacing */
    .page-padding {
        @apply px-4 py-8 sm:px-6 lg:px-8;
    }
    .page-padding-y {
        @apply py-8;
    }
    .page-padding-x {
        @apply px-4 sm:px-6 lg:px-8;
    }
    .-page-padding {
        @apply -mx-4 -my-8 sm:-mx-6 lg:-mx-8;
    }

    .size-tablet {
        @apply w-full max-w-screen-tablet mx-auto;
    }
    .size-laptop {
        @apply w-full max-w-screen-laptop mx-auto;
    }
    .size-desktop {
        @apply w-full max-w-screen-desktop mx-auto;
    }
}

@layer components {
    /* Typography */
    .link {
        /* @apply text-primary hover:text-primary-dark focus:underline focus:underline-offset-2 focus:decoration-primary focus:outline-none; */
        @apply text-primary hover:text-primary-dark focus-visible:outline-primary-dark;
    }

    /* Form elements */
    .input-label {
        @apply block text-sm font-medium leading-6 text-gray-900;
    }
    .input-desc {
        @apply text-muted text-xs leading-5 block;
    }
    .input-text {
        @apply block w-full rounded-md border-0 py-1.5 text-gray-900 bg-white shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-primary focus:ring-offset-2 sm:text-sm sm:leading-6 read-only:opacity-50;
    }
    .input-checkbox {
        @apply w-5 h-5 text-primary border-gray-300 rounded focus:ring-primary;
    }
    .input-checkbox-label {
        @apply block ml-3 text-sm leading-5 text-gray-700;
    }
    .button {
        @apply flex justify-center w-full px-4 py-1.5 text-sm font-medium leading-6 focus-visible:outline-none;
    }
    .button-muted {
        @apply rounded-md shadow-sm bg-muted-light hover:bg-muted focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary;
    }
    .button-link {
        @apply text-primary hover:text-primary-dark focus-visible:ring-2 focus-visible:text-primary-dark focus-visible:ring-primary-dark rounded-md;
    }
    .button-primary {
        @apply text-white rounded-md shadow-sm bg-primary hover:bg-primary-dark focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary-dark;
    }
}

@layer utilities {
    [x-cloak] {
        display: none !important;
    }

    /* WIP */
    .ios-padding {
        padding: env(safe-area-inset-top) env(safe-area-inset-right)
            env(safe-area-inset-bottom) env(safe-area-inset-left);
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
