/* =============================================================
 * BASE STYLES
 * ============================================================*/
.datepicker {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    width: 260px;
    z-index: 1;
}

.datepicker--inline {
    position: static;
}

.datepicker__inner {
    overflow: hidden;
}

.datepicker__month {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.datepicker__month--month2 {
    display: none;
}

.datepicker__month-day--valid {
    cursor: pointer;
}

.datepicker__month-day--lastMonth,
.datepicker__month-day--nextMonth {
    visibility: hidden;
}

.datepicker__month-button {
    cursor: pointer;
}

.datepicker__info--feedback {
    display: none;
}

.datepicker__info--error,
.datepicker__info--help {
    display: block;
}

.datepicker__close-button,
.datepicker__clear-button {
    cursor: pointer;
}

.datepicker__tooltip {
    position: absolute;
}

/* =============================================================
   * THEME
   * ============================================================*/
.datepicker {
    background-color: #fff;
    border-radius: 5px;
    /* -webkit-box-shadow: 8px 8px 40px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 8px 8px 40px 5px rgba(0, 0, 0, 0.08); */
    color: #484c55;
    font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
    line-height: 14px;
}

.datepicker__inner {
    padding: 20px;
}

.datepicker__month {
    font-size: 12px;
}

.datepicker__month-caption {
    border-bottom: 1px solid #dcdcdc;
    height: 2.5em;
    vertical-align: middle;
}

.datepicker__month-name {
    text-transform: uppercase;
}

.datepicker__week-days {
    height: 2em;
    vertical-align: middle;
}

.datepicker__week-name {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.datepicker__month-day {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #acb2c1;
    padding: 9px 7px;
}

.datepicker__month-day--no-checkin {
    position: relative;
}

.datepicker__month-day--no-checkin:after {
    /* background-color: rgba(255, 0, 0, 0.1);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 50%;
    top: 0;
    z-index: -1; */
}

.datepicker__month-day--no-checkout {
    position: relative;
}

.datepicker__month-day--no-checkout:after {
    background-color: rgba(255, 0, 0, 0.1);
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.datepicker__month-day--invalid {
    color: #e8ebf4;
}

.datepicker__month-day--disabled {
    color: #e8ebf4;
    position: relative;
}

.datepicker__month-day--disabled:after {
    /* content: "\00d7";
    left: 50%;
    position: absolute;
    color: red;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

.datepicker__month-day--day-of-week-disabled {
    background-color: rgba(232, 235, 244, 0.5);
}

.datepicker__month-day--selected {
    background-color: rgba(116, 107, 253, 0.2);
    color: #fff;
}

.datepicker__month-day--selected:after {
    display: none;
}

.datepicker__month-day--hovering {
    background-color: rgba(116, 107, 253, 0.3);
    color: #fff;
}

.datepicker__month-day--today {
    background-color: #484c55;
    color: #fff;
}

.datepicker__month-day--first-day-selected,
.datepicker__month-day--last-day-selected {
    background-color: #746bfd;
    color: #fff;
}

.datepicker__month-day--last-day-selected:after {
    content: none;
}

.datepicker__month-button {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #f1f5f9;
    border-radius: 4px;
    color: #9da6b8;
    display: inline-block;
    padding: 5px 10px;
}

.datepicker__month-button:hover {
    background-color: #746bfd;
    color: #ffffff;
}

.datepicker__topbar {
    margin-bottom: 20px;
    position: relative;
}

.datepicker__info-text {
    font-size: 13px;
}

.datepicker__info--selected {
    font-size: 11px;
    text-transform: uppercase;
}

.datepicker__info--selected-label {
    color: #acb2c1;
}

.datepicker__info-text--selected-days {
    font-size: 11px;
    font-style: normal;
}

.datepicker__info--error {
    color: red;
    font-size: 13px;
    font-style: italic;
}

.datepicker__info--help {
    color: #acb2c1;
    font-style: italic;
}

.datepicker__close-button,
.datepicker__clear-button {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #746bfd;
    border-radius: 4px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 10px;
    color: #ffffff;
    margin-top: 20px;
    padding: 7px 13px;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
}

.datepicker__close-button:hover,
.datepicker__clear-button:hover {
    background-color: #f1f5f9;
    color: #9da6b8;
}

.datepicker__close-button:disabled,
.datepicker__close-button[disabled],
.datepicker__clear-button:disabled,
.datepicker__clear-button[disabled] {
    background-color: #f1f5f9;
    color: #9da6b8;
    cursor: not-allowed;
}

.datepicker__tooltip {
    background-color: #ffe684;
    border-radius: 2px;
    font-size: 11px;
    margin-top: -5px;
    padding: 5px 10px;
}

.datepicker__tooltip:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffe684;
    bottom: -4px;
    content: "";
    left: 50%;
    margin-left: -4px;
    position: absolute;
}

@media (min-width: 320px) {
    .datepicker {
        width: 300px;
    }
}

/* @media (min-width: 480px) {
    .datepicker {
        width: 460px;
    }
    .datepicker__months {
        overflow: hidden;
    }
    .datepicker__month {
        width: 200px;
    }
    .datepicker__month--month1 {
        float: left;
    }
    .datepicker__month--month2 {
        display: table;
        float: right;
    }
    .datepicker__month-button--disabled {
        visibility: hidden;
    }
    .datepicker__months {
        position: relative;
    }
    .datepicker__months:before {
        background: #dcdcdc;
        bottom: 0;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 0;
        width: 1px;
    }
}

@media (min-width: 768px) {
    .datepicker {
        width: 560px;
    }
    .datepicker__month {
        width: 240px;
    }
    .datepicker__close-button,
    .datepicker__clear-button {
        margin-top: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
} */

/* CUSTOM */
.datepicker {
    /* width: 300px; */
    width: 100%;
    height: 330px;
}
.datepicker__inner {
    padding: 10px;
}
.datepicker__month-day {
    padding: 13px;
}
.datepicker__month-caption th {
    padding: 10px 0;
}

.datepicker__month-button:hover {
    background-color: #3b82f6;
}
.datepicker__month-day--today {
    color: #3b82f6;
    background-color: #fff;
    /* -webkit-box-shadow: inset 0 4px 0px -2px #3b82f6; */
    /* -moz-box-shadow: inset 0 4px 0px -2px #3b82f6; */
    box-shadow: inset 0 -4px 0px -1px #3b82f6;
    /* box-shadow: 0 4px 2px -2px gray; */
}
.datepicker__month-day--valid {
    color: #3b82f6;
}

.datepicker__month-day--asdf {
    background-color: #000 !important;
    color: red !important;
}

/* Disabled */
.datepicker__month-day--invalid {
    color: #94a3b8;
}
.datepicker__month-day--disabled {
    background: #f1f5f9;
    color: #94a3b8;
}
.datepicker__month-day--disabled-important {
    background: #f1f5f9 !important;
    color: #94a3b8 !important;
}
.datepicker__month-day--no-checkin {
    background-image: -webkit-linear-gradient(-48deg, #fff 50%, #f1f5f9 50%);
    color: #94a3b8;
}
.datepicker__month-day--no-checkin.datepicker__month-day--tmp:not(.datepicker__month-day--invalid) {
    color: #3b82f6 !important;
}
.datepicker__month-day--no-checkout:not(.datepicker__month-day--selected) {
    background-image: -webkit-linear-gradient(-48deg, #f1f5f9 50%, #fff 50%);
    color: #94a3b8;
}
.datepicker__month-day--invalid.datepicker__month-day--no-checkin {
    color: #94a3b8;
}
.datepicker__month-day--checkin-only:not(.datepicker__month-day--invalid) {
    color: #3b82f6;
}
/* .datepicker__month-day--checkin-only:not(.datepicker__month-day--selected):not(.datepicker__month-day--today):not(.datepicker__month-day--hovering) {
    background-image: -webkit-linear-gradient(-45deg, #f1f5f9 50%, #fff 50%);
}
.datepicker__month-day--no-checkin:not(.datepicker__month-day--selected):not(.datepicker__month-day--hovering) {
    background-image: -webkit-linear-gradient(-45deg, #fff 50%, #f1f5f9 50%);
}
.datepicker__month-day--checkout-enabled:not(.datepicker__month-day--selected):not(.datepicker__month-day--hovering) {
    background-image: -webkit-linear-gradient(-45deg, #fff 50%, #f1f5f9 50%);
} */

/* Selected */
.datepicker__month-day--hovering.datepicker__month-day--invalid:hover {
    background-color: #fecaca !important;
    color: #94a3b8 !important;
    cursor: not-allowed;
}
.datepicker__month-day--selected {
    background-color: #dbeafe !important;
    color: #1d4ed8 !important;
}
.datepicker__month-day--first-day-selected,
.datepicker__month-day--last-day-selected {
    background-color: #3b82f6 !important;
    color: #fff !important;
}
.datepicker__month-day--hovering {
    background-color: #dbeafe !important;
    color: #1d4ed8 !important;
}
.datepicker__month-day--hovering:hover {
    background-color: #3b82f6 !important;
    color: #fff !important;
}
