[x-cloak] {
    display: none !important;
}
.h-view {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
.h-view-minus-navbar {
    height: calc(100vh - 74px);
    height: calc((var(--vh, 1vh) * 100) - 74px);
}
