.input {
    @apply block w-full px-4 py-2 mt-2 border-gray-300 rounded focus:bg-white focus:text-gray-800 focus:ring-primary focus:border-primary focus:placeholder-white sm:text-sm bg-gray-50;
}
.input-label {
    @apply block font-medium text-gray-700;
}
.input-desc {
    @apply block mt-1 text-xs text-muted;
}
.checkbox {
    @apply w-4 h-4 border-gray-300 rounded text-primary focus:ring-primary;
}
.range-slider {
    @apply w-full h-2.5 bg-gray-200 rounded-lg appearance-none cursor-pointer;
}
.range-slider::-webkit-slider-thumb {
    @apply w-5 h-5 bg-white border border-black rounded-full appearance-none drop-shadow;
}
.range-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

/* Validation */

.input-error {
    @apply border-red-500 !important;
}
.input-label-error {
    @apply text-red-500 !important;
}
